.principal-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr;

}
footer{
    grid-column: span 3;
}

main, footer{
    border: red solid 1px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;   
}
